.about {
    width: 100%;
    min-height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}
.profile-icon {
    width: 200px;
    margin: 25px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}